---
import HeroWithImageTiles from "./HeroWithImageTiles.astro";
---

<HeroWithImageTiles
  images={[
    `${import.meta.env.STATIC_BASE}/assets/Bison/HB0921A01C.png`,
    `${import.meta.env.STATIC_BASE}/assets/Bison/HB090619A01C.png`,
    `${import.meta.env.STATIC_BASE}/assets/Bison/HB03012019A01C.png`,
    `${import.meta.env.STATIC_BASE}/assets/Bison/HB03222019A01C.png`,
    `${import.meta.env.STATIC_BASE}/assets/Bison/HB04262019A01C.jpg`,
  ]}
>
  <h1 class="text-4xl font-bold tracking-tight sm:text-6xl">The Bison Newspaper</h1>
  <p class="relative mt-6 text-lg leading-8 sm:max-w-md lg:max-w-none">
    I worked as the head graphic designer for The Bison newspaper. I won several awards for my editorial design and page layouts. I also created engaging animated infographics and
    other visual content for social media.
  </p>
  <div class="mt-10 flex items-center gap-x-6">
    <a
      href="./work/tags/The Bison"
      class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >View Projects from The Bison</a
    >
  </div>
</HeroWithImageTiles>
